@{
    Layout = "~/Areas/APP/Views/Shared/_Layout" + JN.Services.Tool.ConfigHelper.GetConfigString("Theme") + ".cshtml";
    var cacheSysParam = MvcCore.Unity.Get<JN.Data.Service.ISysParamService>().ListCache("sysparams", x => x.ID < 6000);
    JN.Data.User Umodel = null;
    if (JN.Services.UserLoginHelper.CurrentUser() == null)
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }
    else
    {
        Umodel = MvcCore.Unity.Get<JN.Data.Service.IUserService>().Single(JN.Services.UserLoginHelper.CurrentUser().ID);
    }
}
<link href="/Theme/App/css/trade.css" rel="stylesheet">
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">@T("买入记录")</div>
</header>

<section class="container">
	
	<div class="record-table">
		<table>
			<thead>
				<tr>
                    <th>@T("单号")</th>
					<th>@T("时间")</th>
					<th>@T("买入金额")</th>
					<th>@T("状态")</th>
				</tr>
			</thead>
            <tbody id="SupList">
            </tbody>
		</table>
	</div>
	
	@*<div class="load-more">
	    <a href="">点击加载更多</a>
	</div>*@
	
	<!--<div class="load-no-more">
	    <span>没有更多了</span>
	</div>-->
</section>
<script>
    layui.use('flow', function () {
        //var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
        var flow = layui.flow;
        flow.load({
            elem: '#SupList', //指定列表容器
            isAuto: false,//是否自动加载
            done: function (page, next) { //到达临界点（默认滚动触发），触发下一页
                var lis = [];
                //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                $.get('@Url.Action("GetBuyRecord", "Market")?page=' + page, function (res) {
                    var strhtml = "";
                    //假设你的列表返回在data集合中
                    layui.each(res.data, function (index, item) {
                        strhtml = '';
                        strhtml += '<tr>';
                        strhtml += '<td>' + item.SupplyNo + '</td>';
                        strhtml += '<td>' + ChangeDateFormat(item.CreateTime) + '</td>';
                        strhtml += '<td>';
                        strhtml += '<span class="record-num">' + item.ExchangeAmount + '</span>';
                        strhtml += '</td>';
                        strhtml += '<td>' + item.ReserveStr1 + '</td>';
                        strhtml += '</tr>';
                        lis.push(strhtml);
                    });
                    //alert(lis);
                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                    next(lis.join(''), page < res.pages);
                });
            }
        });

    });
    function ChangeDateFormat(jsondate) {
        jsondate = jsondate.replace("/Date(", "").replace(")/", "");
        if (jsondate.indexOf("+") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("+"));
        }
        else if (jsondate.indexOf("-") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("-"));
        }

        var date = new Date(parseInt(jsondate, 10));
        var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
        var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
        var currentHours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
        var currentMinutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
        return month
            + "-"
            + currentDate
            + ""
            + " "
            + currentHours
            + ":"
            + currentMinutes;
    }

</script>