
@{   string curl = Request.Url.ToString().ToLower();
    string lang = Request["lang"];
}
<ul>
    <li>
        <a href="@Url.Action("Buy", "Market")" class="active">@T("创建订单")</a>
    </li>

    <li>
        <a href="@Url.Action("Confirmed", "Market")?Status=1">@T("等待付款")</a>
    </li>

    <li>
        <a href="@Url.Action("Confirmed", "Market")?Status=3">@T("等待确认")</a>
    </li>

    <li>
        <a href="@Url.Action("Confirmed", "Market")">@T("已完成订单")</a>
    </li>
    @if (curl.Contains("buy"))
    {
        <li>
            <a href="@Url.Action("BuyRecord", "Market")">@T("买入记录")</a>
        </li>

        <li>
            <a href="@Url.Action("BuyCenter", "Market")">@T("买入中心")</a>
        </li>
    }
    else
    {
        <li>
            <a href="@Url.Action("SellRecord", "Market")">@T("卖出记录")</a>
        </li>

        <li>
            <a href="@Url.Action("SellCenter", "Market")">@T("卖出中心")</a>
        </li>
    }

</ul>
    @*<script type="text/javascript">
        //语言切换
        function changelang(type) {
            var lang = $("#lang").val();
            var reg;
            if (lang == "zh-CN") {
                var reg = new RegExp("lang=zh-CN", 'i');
            }
            else if (lang == "zh-TW") {
                var reg = new RegExp("lang=zh-TW", 'i');

            }
            else {
                var reg = new RegExp("lang=en-US", 'i');
            }

            if (window.location.href.match(reg)) {
                var strUrl = window.location.href.replace(reg, 'lang=' + type);
                window.location.href = strUrl;
            } else if (window.location.href.indexOf("?") >= 0) {
                window.location.href = window.location.href + "&lang=" + type;
            } else {
                window.location.href = window.location.href + "?lang=" + type;
            }
        }
    </script>*@