@{
    Layout = "~/Areas/AdminCenter/Views/Shared/_Layout.cshtml";
    var cacheSysParam = MvcCore.Unity.Get<JN.Data.Service.ISysParamService>().ListCache("sysparams", x => x.ID < 4000).ToList();


    var walletList2000 = cacheSysParam.Where(x => x.PID == 2000 && x.IsUse).ToList();
    //var curModelList = MvcCore.Unity.Get<JN.Data.Service.CurrencyService>().List(x => x.TranSwitch);
    var curModelList = MvcCore.Unity.Get<JN.Data.Service.ShopProductService>().List();
}
<div id="content">
    <!-- Breadcrumb -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")" class="glyphicons home"><i></i> 首页</a></li>
        <li class="divider"></li>
        <li>@ViewBag.Title</li>
    </ul>
    <div class="separator bottom"></div>
    <div class="innerLR">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            @using (Ajax.BeginForm("MinerDelivery", new { }, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "afterPost" }, new { id = "saveForm", @class = "form-horizontal" }))
            {
                <div class="control-group">
                    <label class="control-label" for="mainwallet">会员帐号：</label>

                    <div class="controls">
                        <div class="clearfix">
                            <input type="text" name="username" class="form-control" value="" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="drawmoney">赠送矿机：</label>
                    <div class="controls">
                        <div class="clearfix">
                            <select id="coinid" name="coinid">


                                @if (curModelList.Count() > 0)
                                {
                                    foreach (var curItem in curModelList)
                                    {

                                        <option value="@curItem.ID">@curItem.ProductName</option>
                                    }
                                }
                                @*@if (walletList2000.Count() > 0)
                                    {
                                        foreach (var walletItem in walletList2000)
                                        {

                                          <option value="@walletItem.ID">@walletItem.Name</option>
                                        }
                                    }*@
                            </select>
                            @*@Html.DropDownList("coinid", ViewData["SysParamList"] as SelectList, new { @class = "form-control" });*@
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="drawmoney">已产矿数量：</label>
                    <div class="col-xs-12 col-sm-5">
                        <div class="controls">
                            <input type="text" name="AddupInterest" class="form-control" style="width:100px" value="0" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="drawmoney">已使用天数：</label>
                    <div class="col-xs-12 col-sm-5">
                        <div class="controls">
                            <input type="text" name="ReserveInt1" class="form-control" style="width:100px" value="0" /><span style="color:red;">&nbsp; *赠送G1矿机才填</span>
                        </div>
                    </div>
                </div>
                    <input type="hidden" name="deliverynumber" class="form-control" style="width:100px" value="1" />
                    <div class="control-group">
                        <label class="control-label" for="phone">备注：</label>

                        <div class="controls">
                            <textarea name="remark" class="form-control">系统派送</textarea>
                        </div>
                    </div>

                    <div class="hr hr-dotted"></div>
                    <div class="control-group">
                        <label class="control-label">&nbsp;</label>
                        <div class="controls">
                            <button class="btn btn-primary" type="submit">
                                赠 送
                            </button>
                            <a href="javascript:history.go(-1);" class="btn btn-grey">
                                <i class="icon-arrow-left"></i>
                                返 回
                            </a>
                        </div>
                    </div>
            }

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<!-- page specific plugin scripts -->
<!--[if lte IE 8]>
<![endif]-->
@section scripts{
    <script src="~/Plugin/Jquery/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        function afterPost(data) {
            if (data.Status == 200) {
                alert("保存成功，即将为您跳转页面!");
                location.reload();
                @*location.href = "@(Url.Action("DeliveryDetail"))?coin=" + $("#coinid").val();*@
            } else {
                alert("保存失败！错误信息：" + data.Message);
            }
        }
    </script>

}