@model JN.Data.MachineOrder
    @{
        string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
        Layout = "~/Areas/AdminCenter/Views/Shared/_Layout.cshtml";
        //var KJClass = MvcCore.Unity.Get<JN.Data.Service.ICurrencyService>().List(x => x.LineSwitch).OrderBy(x => x.ID).ToList();
        //JN.Data.Currency Default= KJClass.FirstOrDefault();
    }
    <!-- Content -->
    <div id="content">

        <!-- Breadcrumb -->
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")" class="glyphicons home"><i></i> 首页</a></li>
            <li class="divider"></li>
            <li>@ViewBag.Title</li>
        </ul>
        <div class="separator bottom"></div>
        <!-- // Breadcrumb END -->
        <div class="innerLR">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <form id="validation-form" class="form-horizontal" enctype="multipart/form-data" method="post">
                    <div class="control-group">
                        <label class="control-label"></label>


                    </div>
                    <div class="control-group">
                        <label class="control-label" for="username">矿机名称</label>

                        <div class="controls">
                            <div class="clearfix">
                                <input type="text" name="ProductName" value="@Model.ProductName" class="form-control" readonly style="width:350px" />
                                <input type="hidden" name="ID" value="@Model.ID" />
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="username">商品ID</label>

                        <div class="controls">
                            <div class="clearfix">
                                <input type="text" name="ShopID" value="@Model.ShopID" class="form-control" readonly style="width:350px" /><span style="color:red;">&nbsp; *必须与矿机对应，例：G1填1，G2填2</span>
                            </div>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label" for="username">会员</label>

                        <div class="controls">
                            <div class="clearfix">
                                <input type="text" value="@Model.UserName" class="form-control" readonly style="width:350px"  readonly/>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="email">已产矿数量</label>

                        <div class="controls">
                            <div class="input-group">
                                <input type="text" name="AddupInterest" style="width:350px" value="@Model.AddupInterest" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="email">已使用天数</label>

                        <div class="controls">
                            <div class="input-group">
                                <input type="text" name="ReserveInt1" style="width:350px" value="@Model.ReserveInt1" class="form-control" /><span style="color:red;">&nbsp; *G1矿机才填</span>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="email">使用期</label>

                        <div class="controls">
                            <div class="input-group">
                                <input type="text" name="ReserveInt2" style="width:350px" value="@Model.ReserveInt2" class="form-control" /><span style="color:red;">&nbsp; *G1矿机才填</span>
                            </div>
                        </div>
                    </div>

                    <div class="hr hr-dotted"></div>


                    <div class="hr hr-dotted"></div>
                    <div class="control-group">
                        <label class="control-label">&nbsp;</label>
                        <div class="controls">
                            <button class="btn btn-primary" type="submit">
                                保存
                            </button>

                            <a href="javascript:history.go(-1);" class="btn btn-grey">
                                <i class="icon-arrow-left"></i>
                                返 回
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @section scripts{
        <!-- page specific plugin styles -->
        <script type="text/javascript" src="~/Plugin/xhEditor/xheditor.js"></script>
        <script type="text/javascript" src="~/Plugin/xhEditor/xheditor_lang/zh-cn.js"></script>
        <script type="text/javascript">


        </script>
    }