@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<JN.Data.Message>
@{
    string action = ViewContext.RouteData.Values["action"].ToString().ToLower();

    Layout = "~/Areas/APP/Views/Shared/_Layout" + JN.Services.Tool.ConfigHelper.GetConfigString("Theme") + ".cshtml";
}
<script src="~/Plugin/Jquery/jquery.unobtrusive-ajax.min.js"></script><!--ajax-->
<link href="~/theme/app/css/Pager.css" rel="stylesheet" /><!--分页样式-->
<div class="wrapper">
    <div class="page_wrap">
        <div class="page">
            @Html.Partial("/Areas/APP/Views/Finance/_Finance.cshtml")
            <div class="main">
                <div class="main">
                    <div class="main_title">                       
                            @T("我的邮件")                       
                    </div>
                    <!-- page specific plugin styles -->
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="tabbable">
                                        <div class="breadcrumb" data-ng-show="breadcrumbs.length"> 
                                                    <a class="label arrowed-in-right arrowed label-success" href="@Url.Action("Write")">
                                                        @T("写邮件")
                                                    </a>
                                                    <span>&nbsp;</span>
                                                    <a class="label arrowed-in-right arrowed label-success" href="@Url.Action("Inbox")">
                                                        @T("收件箱")
                                                    </a> <span>&nbsp;</span>
                                           
                                            <a class="label arrowed-in-right arrowed label-success del" href="@Url.Action("Sent")">
                                                @T("发件箱")
                                            </a>
                                        </div>
                                    <br />
                                        <div class="news_list" id="_SentMessage"> 
                                            @Html.Partial("_SentMessage", Model)                                       
                                        </div><!-- /.tab-content -->
                                    </div><!-- /.tabbable -->
                                </div><!-- /.col -->
                            </div><!-- /.row -->

                            <div class="hide message-content" id="id-message-content">
                            </div><!-- /.message-content -->
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    <!-- page specific plugin scripts -->
                </div>
              
            </div>
        </div>
    </div>
</div>  