
@{
    ViewBag.Title = "Miningdata";
    Layout = "~/Areas/APP/Views/Shared/_Layout18080102.cshtml";

    JN.Data.User Umodel = null;
    if (JN.Services.UserLoginHelper.CurrentUser() == null)
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }
    else
    {
        Umodel = MvcCore.Unity.Get<JN.Data.Service.IUserService>().Single(JN.Services.UserLoginHelper.CurrentUser().ID);
    }
    var MOlist = MvcCore.Unity.Get<JN.Data.Service.IMachineOrderService>().List(x => x.IsBalance).OrderBy(x => x.ID).ToList();

    int moID = Request["moID"].ToInt();


    decimal bonusMoney = 0;
    var morder = MOlist.SingleAndInit(x => x.UID == Umodel.ID && x.ShopID == 1);
    if (morder.ID > 0)
    {
        bonusMoney = morder.TimesType / morder.Duration * morder.TodayMiningTime;
    }
}
<link href="/Theme/App/css/user.css" rel="stylesheet">
<header class="header">
    <div class="header-return mui-action-back">
        @*<a href="javascript:history.go(-1);"></a>*@
    </div>
    <div class="logo">@T("矿机")</div>
</header>
<!--main-->
<section class="container">
    <div class="mining-main mining1">
        <div class="qipao-group">
            <div class="miner-box bg-none">
                <br /><br /><br />
                <p class="lablecolor">@T("矿机型号")：<span class="lablecolor">G1</span></p>
                <br />
                <p  class="lablecolor">@T("预计挖矿量")：<span  class="lablecolor">@bonusMoney</span> FJC</p>
                <a class="start-mining lablecolor" href="/APP/User/Progress">@T("开始采矿")</a>
                @*<a class="start-mining closure" href="/APP/User/Progress">@T("结束采矿")</a>*@
            </div>
        </div>
    </div>
</section>

