@{
    Layout = "~/Areas/APP/Views/Shared/_Layout" + JN.Services.Tool.ConfigHelper.GetConfigString("Theme") + ".cshtml";
}@{
    Layout = "~/Areas/APP/Views/Shared/_Layout" + JN.Services.Tool.ConfigHelper.GetConfigString("Theme") + ".cshtml";
    //var userEntity = JN.Services.UserLoginHelper.CurrentUser();
    var cacheSysParam = MvcCore.Unity.Get<JN.Data.Service.ISysParamService>().ListCache("sysparams", x => x.ID < 6000);
    JN.Data.User Umodel = null;
    if (JN.Services.UserLoginHelper.CurrentUser() == null)
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }
    else
    {
        Umodel = MvcCore.Unity.Get<JN.Data.Service.IUserService>().Single(JN.Services.UserLoginHelper.CurrentUser().ID);
    }
    //var dqlist = MvcCore.Unity.Get<JN.Data.Service.ITimeDepositService>().List(x => x.UID == Umodel.ID && x.Status < 2);
    //decimal mydq = dqlist.Count() > 0 ? dqlist.Sum(x => x.DepositAmount) : 0;

    var sysSet = MvcCore.Unity.Get<JN.Data.Service.ISysSettingService>().Single(1);

    int levelNum = 0;
    if ((Umodel.IsAuthentication ?? false) == true)
    {
        levelNum += 25;
    }

    if ((Umodel.IsMobile ?? false))
    {
        levelNum += 25;
    }

    if ((Umodel.IsEmail ?? false))
    {
        levelNum += 25;
    }

    if (!string.IsNullOrEmpty(Umodel.Password2))
    {
        levelNum += 25;
    }
    string color = "green"; string levename = "高";
    if (levelNum < 50) { color = "red"; levename = "低"; }
    else if (levelNum >= 50 && levelNum <= 75) { levename = "中"; color = "#ff6a00"; }

}


<div class="container clear-float main">
    @Html.Partial("/Areas/APP/Views/Home/_Security.cshtml")
    <div class="fr">
        <div class="setting-title">@T("安全设置")>@T("设置交易密码")</div>
        <div class="setting-panel">
            <form class="form-cont" id="step1">
                <div class="form-text">
                    @T("登录密码请不要与资金密码或其他网站密码一致，由此产生的账号被盗，本站概不负责。")
                </div>
                <div class="input-cont">
                    <span class="icon form-password"></span>
                    <input class="input" onfocus="this.type='password'" name="password" placeholder="@T("请输入登录密码")">
                    <div class="form-tips"></div>
                    <div class="error-msg"></div>
                </div>
                <div class="input-cont">
                    <span class="icon form-password"></span>
                    <input class="input" onfocus="this.type='password'" name="password2" placeholder="@T("请输入新交易密码")" maxlength="30">
                    <div class="form-tips"></div>
                    <div class="error-msg"></div>
                </div>
                <div class="input-cont">
                    <span class="icon form-password"></span>
                    <input class="input" onfocus="this.type='password'" name="newpassword2" placeholder="@T("请您再次输入新交易密码")" maxlength="30">
                    <div class="form-tips"></div>
                    <div class="error-msg"></div>
                </div>
                <a id="submit" class="btn submit" onclick="ChangePassword()">@T("确定提交")</a>
            </form>

        </div>
    </div>
</div>

<script>
    function ChangePassword() {
        $.post('/App/user/SetTransactionPassword', $('#step1').serialize(), function (d) {
            if (d.Status != 200) {
                layer.msg(d.Message, { icon: 2 })

            } else {
                layer.msg("@T("设置成功")", { icon: 1 })
                window.location.href = "/App/home";
            }
        }, 'json');
    }

</script>