
@{
    Layout = "~/Areas/APP/Views/Shared/_Layout" + JN.Services.Tool.ConfigHelper.GetConfigString("Theme") + ".cshtml";
    //var cacheSysParam = MvcCore.Unity.Get<JN.Data.Service.ISysParamService>().ListCache("sysparams", x => x.ID < 6000);
    JN.Data.User Umodel = null;
    if (JN.Services.UserLoginHelper.CurrentUser() == null)
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }
    else
    {
        Umodel = MvcCore.Unity.Get<JN.Data.Service.IUserService>().Single(JN.Services.UserLoginHelper.CurrentUser().ID);
    }
}
<link href="/Theme/App/css/user.css" rel="stylesheet">
<header class="header">
    <div class="header-return mui-action-back">
        @*<a href="javascript:history.go(-1);"></a>*@
    </div>

    <div class="logo">@T("修改交易密码")</div>
</header>

<section class="container">
    <div class="setting-form">
        <div class="form-widget">
            <form action="" method="post" id="step1">
                <div class="form-box">
                    <div class="form-group">
                        <label>@T("新交易密码")</label>
                        <input class="form-control" placeholder="@T("请输入新交易密码")" name="password2">
                    </div>
                    <div class="form-group">
                        <label>@T("安全口令")</label>
                        <input class="form-control" placeholder="@T("请输入安全口令")" type="password" name="securityPassword">
                    </div>
                </div>
                <div class="form-link">
                    <a href="/App/login/GetPwd">@T("忘记安全口令？")</a>
                </div>
                <div class="form-submit">
                    <button type="button" class="form-submit-btn" onclick="ChangePassword2()" id="btnEdit">@T("确定")</button>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    function ChangePassword2() {
        $('#btnEdit').attr("disabled", "disabled");
        $.post('/App/user/SettingPassword2/', $('#step1').serialize(), function (d) {
            if (d.Status == 200) {
                layer.msg("@T("修改成功")", { icon: 1 }, function () {
                    window.location.href = "/App/user/setting";
                })              
            } else {
                layer.msg(d.Message, { icon: 2 });
                $('#btnEdit').removeAttr("disabled");
            }
        }, 'json');
    }
</script>