@model JN.Data.User
@{
    Layout = "~/Areas/AdminCenter/Views/Shared/_Layout.cshtml";
}
<!-- page specific plugin styles -->
<div id="content">
    <!-- Breadcrumb -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")" class="glyphicons home"><i></i> 首页</a></li>
        <li class="divider"></li>
        <li>@ViewBag.Title</li>
    </ul>
    <div class="separator bottom"></div>
    <div class="innerLR">
        <div class="tabbable">
            <a href="@Url.Action("TreeView", new { id = Model.ID})" class="btn btn-primary">推荐图谱</a>
            @if (JN.Services.Tool.ConfigHelper.GetConfigString("MemberAtlas") == "double")
            {
                    <a href="@Url.Action("DoubleTrack", new { ID = Model.ID})" class="btn btn-danger">安置图谱</a>
                }

                @if (JN.Services.Tool.ConfigHelper.GetConfigString("MemberAtlas") == "three")
                {
                    <a href="/@Url.Action("ThreeTrack", new { ID = Model.ID})" class="btn btn-danger">安置图谱</a>
                }
            <div class="widget-box">
                <div class="widget-header header-color-blue2">
                    @*<h4 class="lighter smaller">@Model.UserName @Model.ID @Model.RefereePath</h4>*@
                    <h4 class="lighter smaller">@Model.UserName</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main padding-8">
                        @{
                            if (MvcCore.Unity.Get<JN.Data.Service.IUserService>().List(x => x.RefereeID == Model.ID).Count() > 0)
                            {
                                <div id="tree1" class="tree"></div>
                            }
                            else
                            {
                                <span>@(Model.UserName) 下没有推荐用户.</span>
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>

    <div class="center">
        <a href="javascript:history.go(-1);" class="btn btn-grey">
            <i class="icon-arrow-left"></i>
            返回
        </a>

        <a href="@Url.Action("Index","Home")" class="btn btn-primary">
            <i class="icon-dashboard"></i>
            返回主界面
        </a>
    </div>

    <!-- PAGE CONTENT ENDS -->
</div><!-- /.col -->
@section scripts{
    <!-- page specific plugin scripts -->
    <link href="~/common/theme/scripts/plugins/jstree/dist/themes/default/style.css" rel="stylesheet" />
    <script src="~/common/theme/scripts/plugins/jstree/dist/jstree.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            //$('#tree1').tree({
            //    dataSource: new DataSourceTree({ url: '/User/User/GetTreeJson' }),
            //    multiSelect: false,
            //    loadingHTML: '<div class="tree-loading"><i class="icon-refresh icon-spin blue"></i></div>',
            //    'open-icon': 'icon-minus',
            //    'close-icon': 'icon-plus',
            //    'selectable': false
            //});

            $("#tree1").jstree({
                "core": {
                    "themes": {
                        "responsive": false
                    },
                    // so that create works
                    "check_callback": true,
                    'data': {
                        'url': function (node) {
                            if (node.id > 0)
                                return '@(Url.Action("GetTreeJson"))?id=' + node.id;
                            else
                                return '@(Url.Action("GetTreeJson"))?id=@Model.ID';
                        },
                        'data': function (node) {
                            return { 'parent': node.id };
                        }
                    }
                },
                //"types" : {
                //    "default" : {
                //        "icon" : "fa fa-folder icon-state-warning icon-lg"
                //    },
                //    "file" : {
                //        "icon" : "fa fa-file icon-state-warning icon-lg"
                //    }
                //},
                "state": { "key": "demo3" },
                "plugins": ["dnd", "state", "types"]
            });


        });
    </script>
}