@model JN.Data.Release
@{
    Layout = "~/Areas/AdminCenter/Views/Shared/_Layout.cshtml";
    var cacheSysParam = MvcCore.Unity.Get<JN.Data.Service.ISysParamService>().ListCache("sysparams", x => x.ID < 6000).ToList();
    var param = cacheSysParam.SingleAndInit(x => x.ID == 1101);//释放
    decimal rate = param.Value.ToDecimal();
    decimal minMoney = param.Value3.ToDecimal();
}
<!-- Content -->
<div id="content">
    <!-- Breadcrumb -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")" class="glyphicons home"><i></i> 首页</a></li>
        <li class="divider"></li>
        <li>@ViewBag.Title</li>
        <li></li>
    </ul>
    <div class="separator bottom"></div>
    <!-- // Breadcrumb END -->
    <div class="innerLR">
        <form class="form-horizontal" id="validation-form" method="post">
            <div class="control-group">
                <label class="control-label">上次结算时间：</label>
                <div class="controls">
                    @(Model == null ? "从未结算过" : Model.CreateTime.ToString())
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">结算人数：</label>
                <div class="controls">
                    @(MvcCore.Unity.Get<JN.Data.Service.IUserService>().List(x => (x.Cur3002 ?? 0) * rate >= minMoney && x.IsLock == false && x.IsActivation).Count())
                </div>
            </div>

            <div class="hr hr-dotted"></div>

            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <button type="button" class="btn btn-icon-stacked btn-block btn-primary glyphicons chevron-right dosf" style="width:260px">
                        <i></i><span class="strong">开始手动结算</span><span style="font-weight:normal; color:#ccc">请等待进度条到达100%再刷新本页面</span>
                    </button>
                </div>
            </div>
            <br />
            <br />
            <hr />
            @*<div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <button type="button" class="btn btn-icon-stacked btn-block btn-primary glyphicons chevron-right dobf" style="width:260px">
                        <i></i><span class="strong">补发结算</span><span style="font-weight:normal; color:#ccc">请等待进度条到达100%再刷新本页面</span>
                    </button>
                </div>
            </div>

            <br />
            <br />
            <hr />
            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <button type="button" class="btn btn-icon-stacked btn-block btn-primary glyphicons chevron-right dotb" style="width:260px">
                        <i></i><span class="strong">同步兑换金额</span>
                    </button>
                </div>
            </div>*@
        </form>

        @*<div class="row">
            <div class="col-xs-12" style="padding:20px 20px">
                <h4 id="rwtitle">任务进度(未开始)</h4>
                <div class="widget">
                    <div class="widget-head progress progress-primary" id="widget-progress-bar">
                        <div class="bar" style="width: 0%;"><strong class="steps-info"></strong> - <strong class="steps-percent">0%</strong></div>
                    </div>
                </div>
            </div>
        </div>*@
        @*<div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <a href="/@(JN.Services.Tool.ConfigHelper.GetConfigString("AdminPath"))/balance/daybalance" class="btn btn-info">
                        <i class="icon-ok bigger-110"></i>
                        手动进行日结算（如果系统设定秒结则无需进行日结算）
                    </a>
                </div>
            </div>*@

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
@section scripts{
<script type="text/javascript">
     setTimeout('check()', 1000);
    function check() {
        $.getJSON("@(Url.Action("getproc"))", function (data, textStatus, jqXHR) {
            // data 是该请求返回的数据(可能经过处理)
            // textStatus 可能是"success"、 "notmodified"等
            // jqXHR 是经过jQuery封装的XMLHttpRequest对象(保留其本身的所有属性和方法)

            var sc = parseInt(data.data.CurrentRow / data.data.TotalRow * 100);
            $('#widget-progress-bar .steps-info').html(sc + "% " + data.data.CurrentRow + "/" + data.data.TotalRow);
            //$(".progress-bar").attr("style", "width:" + sc + "%")
            $('#widget-progress-bar .steps-percent').html(sc + "%");
            $('#widget-progress-bar .bar').width(sc + "%");
            //$("#tbname").html(data.data.CurrentTable);
            $("#rwtitle").html(data.data.TransInfo);
            setTimeout('check()', 1000);
        });
    };

    $(".dosf").on("click", function () {
        $(this).attr("disabled", "disabled");
        $.post('@(Url.Action("doRelease"))', {}, function (data) {
            if (data.Status == 200)
            {
                alert("操作成功");
                $("#rwtitle").html("释放进行中...　请在进度条达条100%后再退出页面");
            } else {
                alert("操作失败:" + data.Message);
            }
        });

    });


    @*$(".dobf").on("click", function () {
        $(this).attr("disabled", "disabled");
        bootbox.prompt('请输入补发时间！（补发前请先备份数据库以免误操作造成数据错乱）：', function (result) {
            if (result)
                $.post('@(Url.Action("BFRelease"))', { time: result }, function (data) {
                    if (data == 'ok') {
                        alert("操作成功");
                        $("#rwtitle").html("释放进行中...　请在进度条达条100%后再退出页面");
                    }
                });
        });
    });*@

    @*$(".dotb").on("click", function () {
        $(this).attr("disabled", "disabled");
        $.post('@(Url.Action("TB"))', function (data) {
            if (data.result == 'ok') {
                alert("同步成功");
            }
            else {
                alert("同步失败");
            }
        });
    });*@
</script>
}